html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 100px;
    margin-bottom: 20px;
    background-color: #000000;
    background-image: url(images/Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: #1C1E4E;
    color: #CEAEBF;
    text-align: center;
    padding: 5px;
}

main {
    background-color: #000000;
    padding-bottom: 50px;
    border-radius: 6px 6px 6px 6px;
    background-image: url(images/Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main .row {
    margin-bottom: 15px;
}

.navbar-inverse {
    background-color: #1C1E4E;
    border-color: #1C1E4E;
}

.navbar-inverse .navbar-brand {
    color: #CEAEBF;
}

#section1 {
    background-color: #7277CE;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
}

#section2 {
    background-color: #7277CE;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
}

#section3 {
    background-color: #7277CE;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
}

#project {
    color: #000000;
}

@media only screen and (max-width:37.5em) {
    #wrap {
        display: none;
    }
}